#modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#modalContent{
    background-color: white;
    width: 50%;
    height: 50%;
    padding: 10px;
}